.user-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  &__label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
  }

  &__field {
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;

    &:focus {
      outline: none;
      background-color: #ccc;
    }
  }

  &__field_invalid {
    background-color: salmon !important;
    border: 1px solid darkred !important;

    &::placeholder {
      color: #fff;
    }
  }
}
